<h1>Real time products</h1>


<div class="container">
    <h1 class="mt-5">Real time products</h1>

    <div id="contenedorProductos" class="row mt-4"></div></div>

<h2>Agregar productos</h2>
<form action="/api/products/realtimeproducts" method="POST">
    <input type="text" id="title" name="title" placeholder="Título">
    <input type="text" id="description" name="description" placeholder="Descripción">
    <input type="number" id="price" name="price" placeholder="Precio">
    <input type="text" id="img" name="img" value="sin imagen">
    <input type="text" id="code" name="code" placeholder="Código">
    <input type="text" id="category" name="category" placeholder="Categoría">
    <input type="number" id="stock" name="stock" placeholder="Stock">
    <select id="status">
        <option value="true">Activo</option>

    </select>

    <button id="btnEnviar">Crear producto</button>
</form>


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.min.js"></script>

<script src="js/main.js"></script>