
<header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <ul class="nav nav-pills ms-auto mb-3" id="pills-tab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link active " id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"  type="button" role="tab" aria-controls="pills-home" aria-selected="true" href="/">Home</a>
                    </li>

                    <li class="nav-item hover" role="presentation">
                        <a class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" href="/productlist" aria-selected="false">Productos</a>
                    </li>
</header>

<h1>Real time products</h1>
<body>

        <div class="container">
        <div class="row mt-4">
            <div id="contenedorProductos" class="product-list"></div>
        </div>
    
        <div class="row mt-4">
            <div class="col">
                <h2>Actualizar Producto</h2>
                <form id="updateProductForm" method="POST" class="product-form">
                    <div class="form-group">
                        <label for="updateId">ID del Producto:</label>
                        <input type="text" id="updateId" name="id" required>
                    </div>

                    <div class="form-group">
                        <label for="updateTitle">Título:</label>
                        <input type="text" id="updateTitle" name="title">
                    </div>

                    <div class="form-group">
                        <label for="updateDescription">Descripción:</label>
                        <input type="text" id="updateDescription" name="description">
                    </div>

                    <div class="form-group">
                        <label for="updatePrice">Precio:</label>
                        <input type="number" id="updatePrice" name="price" min="0">
                    </div>

                    <div class="form-group">
                        <label for="updateImg">Imagen:</label>
                        <input type="text" id="updateImg" name="img">
                    </div>

                    <div class="form-group">
                        <label for="updateCode">Código:</label>
                        <input type="text" id="updateCode" name="code">
                    </div>

                    <div class="form-group">
                        <label for="updateCategory">Categoría:</label>
                        <input type="text" id="updateCategory" name="category">
                    </div>

                    <div class="form-group">
                        <label for="updateStock">Stock:</label>
                        <input type="number" id="updateStock" name="stock" min="0">
                    </div>

                    <div class="form-group">
                        <label for="updateStatus">Estado:</label>
                        <select id="updateStatus" name="status">
                            <option value="true">Activo</option>
                            <option value="false">Inactivo</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="updateThumbnail">Thumbnail:</label>
                        <input type="text" id="updateThumbnail" name="thumbnail">
                    </div>

                    <button type="submit" class="btn-submit">Actualizar Producto</button>
                </form>
            </div>

            <div class="col">
                <h2>Agregar Producto</h2>
                <form action="/api/products/create-products" method="POST" class="product-form">
                    <div class="form-group">
                        <label for="title">Título:</label>
                        <input type="text" id="title" name="title" required>
                    </div>

                    <div class="form-group">
                        <label for="description">Descripción:</label>
                        <input type="text" id="description" name="description" required>
                    </div>

                    <div class="form-group">
                        <label for="price">Precio:</label>
                        <input type="number" id="price" name="price" min="0" required>
                    </div>

                    <div class="form-group">
                        <label for="img">Imagen:</label>
                        <input type="text" id="img" name="img" value="sin imagen">
                    </div>

                    <div class="form-group">
                        <label for="code">Código:</label>
                        <input type="text" id="code" name="code">
                    </div>

                    <div class="form-group">
                        <label for="category">Categoría:</label>
                        <input type="text" id="category" name="category" required>
                    </div>

                    <div class="form-group">
                        <label for="stock">Stock:</label>
                        <input type="number" id="stock" name="stock" min="0" required>
                    </div>

                    <div class="form-group">
                        <label for="status">Estado:</label>
                        <select id="status" name="status" required>
                            <option value="true">Activo</option>
                            <option value="false">Inactivo</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="thumbnail">Thumbnail:</label>
                        <input type="text" id="thumbnail" name="thumbnail" value="sin thumbnail">
                    </div>

                    <button type="submit" class="btn-submit">Agregar Producto</button>
                </form>
            </div>
        </div>
    </div>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.4/socket.io.min.js"></script>

<script src="js/realtime.js"></script>

<script>
document.getElementById('updateProductForm').onsubmit = async (e) => {
    e.preventDefault();
    const id = document.getElementById('updateId').value;
    const data = {
        title: document.getElementById('updateTitle').value,
        description: document.getElementById('updateDescription').value,
        price: document.getElementById('updatePrice').value,
        img: document.getElementById('updateImg').value,
        code: document.getElementById('updateCode').value,
        category: document.getElementById('updateCategory').value,
        stock: document.getElementById('updateStock').value,
        status: document.getElementById('updateStatus').value,
        thumbnail: document.getElementById('updateThumbnail').value,
    };

    const response = await fetch(`/api/products/${id}`, {
        method: 'PUT',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(data),
    });

    if (response.ok) {
        alert("Producto actualizado correctamente");
        socket.emit("obtenerProductos"); 
    } else {
        alert("Error al actualizar el producto");
    }
};

</script>