.img-size {
    width: 50%;
    height: 50%; 
    object-fit: contain; 
    display: block; 
    margin: auto; 
}

.card-img-top{
    height: 10rem;
    width: 10rem;
    display: block; 
    margin: auto; 
    object-fit: contain; 
}


