
    <h1>Compra confirmada</h1>
    <p>¡Gracias por tu compra <span>{{first_name}}</span>! El número de orden es: <span> {{numTicket}} </span> </p>
    <p> Te enviaremos un e-mail a <span> {{email}} </span> con toda la información de tu orden </p>
    <div class="grupo-btn">
        <a class="btnMios noSub" href="/">Tienda</a>
        <a class="btnMios noSub" href="/profile">Mi Perfil</a>
    </div>
</div>